html{
    scroll-behavior: smooth;
    overflow-x: hidden  ;
}
#idinput{
    position: relative;
    left: -12.5em;
    width: 21.5em;
}
#search-button{
    left: -12.5em;
    position: relative;
}
#main-div{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 91%;
    width: 100%;
}
#info-div{
    position: relative;
    height: 80%;
    width: 30%;
    margin: 33px 58px;
    margin-right: 0px;
    background-color: lightgreen;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 20%);
}
#sub-div{
    position: relative;
    height: 80%;
    width: 53%;
    margin: 33px 22px;
    margin-left: 0px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 20%);
    z-index: 10;
    background-color: white;
    padding: 30px;
}
.info-images{
    position: relative;
    height: 30px;
    width: 30px;
    top: 16%;
    left: 7%;
    display: inline;
}
.info-divs{
    left: 3%;
    height: 32px;
    top: 19%;
    width: 93%;
    margin-bottom: 10%;
    position: relative;
    margin-right: 0px;
}
.info-divs span{
    position: relative;
    left: 7%;
    top: 3px;
    color: white;
    font-family: sans-serif;
}
#about{
    position: relative;
    height: 108%;
    width: 90%;
    margin: 10px auto;
    background-color: white;
}
#title{
    position: relative;
    margin: 24px 245px;
    font-size: 50px;
    color: black;
    font-family: sans-serif;
}
#title span:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
#title span:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
#about-content{
    position: relative;
    font-size:30px ;
    margin: 0px 10px;
}
#aboutme{
    position: relative;
    margin: 50px 40%;
    margin-bottom: 20px;
    font-size: 50px;
    color: black;
    font-family: sans-serif;
}
#aboutmecontent{
    position: relative;
    font-size:30px ;
    margin: 0px 10px;
}
#aboutme span:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
  }
  
#aboutme span:hover:after {
    transform: scaleX(0.9);
    transform-origin: bottom left;
  }
  #blog{
    position: relative;
    height: 105%;
    width: 100%;
    top: -10px;
}
#blog a{
    color: inherit;
}
#titleblog{
    position: relative;
    margin: 0px 43%;
    font-size: 29px;
    font-weight: 700;
}
.blogdiv{
    position: relative;
    background-color: rebeccapurple;
    height: 200px;
    width: 22%;
    margin-left: 20px;
    display: inline-block;
    left: 10%;
    transition: .3s ease-in-out ;
}
#blog1{
    top: 7%;
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./assets/netflix.png");
    background-size: cover;

}
#blog1:hover{
    transform: scale(1.2);
}
#blog2{
    left:27%;
    top: 6%;
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./assets/IOT.png.JPG");
    background-size: cover;
}
#blog2:hover{
    transform: scale(1.2);
}
#blog3{
    top:16%;
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./assets/starlink.png");
    background-size: cover;
}
#blog3:hover{
    transform: scale(1.2);
}
#blog4{
    left:27%;
    top:18%;
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./assets/samsung.png");
    background-size: cover;
}
#blog4:hover{
    transform: scale(1.2);
}
#blog1overlay{
    padding: 10px;
    background-image: linear-gradient(to bottom, rgb(179, 155, 179) , rgb(231, 212, 231));
    font-size: 18px;
    font-family: sans-serif;
    position: relative;
    top: 22%;
    left: 44%;
    height: 89%;
    width: 90%;
    box-shadow: 0 20px 25px rgb(0,0,0,20%);
}
#blog2overlay{
    background-image: linear-gradient(to bottom, rgb(179, 155, 179) , rgb(231, 212, 231));
    position: relative;
    top: 22%;
    font-size: 17px;
    padding: 10px;
    left: 44%;
    height: 89%;
    width: 90%;
    box-shadow: 0 20px 25px rgb(0,0,0,20%);
    background-color: white
}
#blog3overlay{
    background-image: linear-gradient(to bottom, rgb(179, 155, 179) , rgb(231, 212, 231));
    position: relative;
    top: 22%;
    font-size: 18px;
    left: 44%;
    height: 89%;
    padding: 10px;
    width: 90%;
    box-shadow: 0 20px 25px rgb(0,0,0,20%);
    background-color: white
}
#blog4overlay{
    background-image: linear-gradient(to bottom, rgb(179, 155, 179) , rgb(231, 212, 231));
    position: relative;
    top: 22%;
    left: 44%;
    font-size: 19px;
    padding: 10px;
    height: 89%;
    width: 90%;
    box-shadow: 0 20px 25px rgb(0,0,0,20%);
    background-color: white
}
#contactme{
    position: relative;
    height: 105%;
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    margin: 0px -16px;
}
#contactform{
    color: white;
    position: relative;
    background-color: white;
    height: 100%;
    width: 64%;
    padding: 50px;
}
#contactform span{
    position: relative;
    left: 22%;
    font-size: 50px;
    top:-1%;
    color: black;
    font-family: sans-serif;
    font-weight: 800;
}
#contactform span input{
    position: relative;
    height: 30px;
    width: 230px;
    top: 10px;
    margin-right: 75px;
    margin-bottom: 50px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: blue;
    left: -30px;
    font-size: 15px;
}
#contactform span input:focus::placeholder{
    color: transparent;
}
#contactform span textarea:focus::placeholder{
    color: transparent;
}
#textarea{
    position: relative;
    top: -20px;
    left: -31px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: blue;
    font-size: 15px;
}
#submit-button{
    position: relative;
    top: -25px;
    left: -30px;
}
#vertical-line{
    position: relative;
    width: 2px;
    height: 80%;
    background-color: gray;
    top: 10%;
}
#contacticon{
    position: relative;
    margin-left: 10px;
}
#contacticon span{
    position: relative;
    left: 5%;
    font-size: 40px;
    top:20%;
    color: black;
    font-family: sans-serif;
    font-weight: 800;
}
#contacticon i{
    position: relative;
    left: 5%;
    font-size: 13px;
    top:25%;
    margin-bottom: 50px;
}
#contacticon i pre{
    position: relative;
    display: inline;
    font-size: 15px;
}
#stayintouch{
    position: relative;
    top: 20%;
    left: 35%;
    font-size: 29px;
    font-weight: 700;
}
#stayintouch i{
    position: relative;
    font-size: 20px;
    top: 15px;
    left: -35px;
    margin-left: 20px;
    transition: .3s ease-in-out;
}
#stayintouch i:hover{
    transform: translateY(-10px);
}
#stayintouch a{
    color:inherit;
}

#copyright{
    position: relative;
    height: 20px;
    width: 100%;
    top: -3%;
}
#copyright span{
    margin: 0px 38%;
    font-family: sans-serif;
}