html{
    scroll-behavior: smooth;
    overflow-x: hidden  ;
}
#idinput{
    position: relative;
    left: -12.5em;
    width: 21.5em;
}
#search-button{
    left: -12.5em;
    position: relative;
}
#main-div{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 91%;
    width: 100%;
}
#info-div{
    position: relative;
    height: 80%;
    width: 30%;
    margin: 33px 58px;
    margin-right: 0px;
    background-color: lightgreen;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 20%);
}
#sub-div{
    position: relative;
    height: 80%;
    width: 53%;
    margin: 33px 22px;
    margin-left: 0px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 20%);
    z-index: 10;
    background-color: white;
    padding: 30px;
}
.info-images{
    position: relative;
    height: 30px;
    width: 30px;
    top: 16%;
    left: 7%;
    display: inline;
}
.info-divs{
    left: 3%;
    height: 32px;
    top: 19%;
    width: 93%;
    margin-bottom: 10%;
    position: relative;
    margin-right: 0px;
}
.info-divs span{
    position: relative;
    left: 7%;
    top: 3px;
    color: white;
    font-family: sans-serif;
}
#about{
    position: relative;
    height: 108%;
    width: 90%;
    margin: 10px auto;
    background-color: white;
}
#title{
    position: relative;
    margin: 24px 245px;
    font-size: 50px;
    color: black;
    font-family: sans-serif;
}
#title span:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
#title span:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
#about-content{
    position: relative;
    font-size:30px ;
    margin: 0px 10px;
}
#aboutme{
    position: relative;
    margin: 50px 40%;
    margin-bottom: 20px;
    font-size: 50px;
    color: black;
    font-family: sans-serif;
}
#aboutmecontent{
    position: relative;
    font-size:30px ;
    margin: 0px 10px;
}
#aboutme span:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
  }
  
#aboutme span:hover:after {
    transform: scaleX(0.9);
    transform-origin: bottom left;
  }